.evenRow {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: .75rem;
    background: #446186;
    padding: .5rem .25rem;
}

.oddRow {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: .75rem;
    background: #7999c4;
    padding: .5rem .25rem;
}

.endCell {
    display: grid;
    justify-content: end;
    grid-column-end: -1;
}