@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", "Roboto", sans-serif !important;
}

::-webkit-scrollbar {
  width: 12px;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: #577298;
  border-radius: 100vw;
  border: 0.1rem solid #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background: #2b4a76;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 100vw;
  margin-block: 0.3rem;
}
