@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", "Roboto", sans-serif !important;
}

::-webkit-scrollbar {
  width: 12px;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: #577298;
  border-radius: 100vw;
  border: 0.1rem solid #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background: #325688;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 100vw;
  margin-block: 0.3rem;
}

.firewatch-bg {
  background-image: url("https://i.pinimg.com/originals/9f/97/62/9f976266def3a52dca61a47f07ca11dd.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
